<?xml version="1.0"?>
<launch>
   
   <!-- upload urdf.xacro and convert to urdf-->
   <arg name="model" default="$(find yannic_robot)/urdf/yannic_robot.urdf.xacro"/>
  <arg name="gui" default="true" /> 
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  
  
  
<!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

<!-- Rviz environment setup -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yannic_robot)/rviz/urdf.rviz" />

 
<!-- send joint values to the hardware -->  
  <arg name="use_gui" default="true" doc="Use GUI to control joint_states?" />
   <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" unless="$(arg use_gui)" />
  <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" if="$(arg use_gui)" /> 
    
</launch>


