<?xml version="1.0"?>
<launch>
   
   <rosparam file="$(find yannic_robot)/config/controllers.yaml" command="load"/>
   <!-- upload urdf.xacro and convert to urdf-->
   <arg name="model" default="$(find yannic_robot)/urdf/yannic_robot.urdf.xacro"/>
  <arg name="gui" default="true" /> 
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  
  <node name="robot_hardware_interface" pkg="yannic_robot" type="robot_hardware_interface" output="screen"/> 
  
       
<!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

<!-- Rviz environment setup -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yannic_robot)/rviz/urdf.rviz" />

 
<!-- send joint values to the hardware -->  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
        args="
            yannic_robot/joints_update
            yannic_robot/joint1
            yannic_robot/joint2
            yannic_robot/joint3
            yannic_robot/rotate_base
            yannic_robot/gripper_joint            
        "/>
        
        
                 <!-- rosserial -->
  <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyACM0"/>
    <param name="baud"              type="int"                  value="250000"/>
    </node> 
        
</launch>


