<?xml version="1.0"?>
<launch>
   
   <!-- upload urdf.xacro and convert to urdf-->
   <arg name="model" default="$(find yannic_robot)/urdf/yannic_robot.urdf.xacro"/>
  <arg name="gui" default="true" /> 
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  
       <node name="robot_hardware_interface" pkg="yannic_robot" type="robot_hardware_interface" output="screen"/> 
  
       
<!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

<!-- Rviz environment setup -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yannic_robot)/rviz/urdf.rviz" />

 
<!-- send joint values to the hardware -->  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/yannic_robot"
        args="
            /joints_update
            /joint1
            /joint2
            /joint3
            /rotate_base
            /gripper_joint            
        "/>
        
        
                 <!-- rosserial -->
  <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyACM0"/>
    <param name="baud"              type="int"                  value="250000"/>
    </node> 
        
</launch>


