<?xml version="1.0"?>
<launch>
   
   <!-- upload urdf.xacro and convert to urdf-->
   <arg name="model" default="$(find yannic_robot)/urdf/yannic_robot.urdf.xacro"/>
  <arg name="gui" default="true" /> 
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  
    <node name="robot_hardware_interface" pkg="yannic_robot" type="robot_hardware_interface" output="screen"/>

  <param name="use_gui" value="$(arg gui)"/>
  
<!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

<!-- Rviz environment setup -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yannic_robot)/rviz/urdf.rviz" />
  
  <!-- joint limits -->
 <rosparam file="$(find yannic_robot_moveit_config)/config/joint_limits.yaml" command="load"/>
 
 <!-- set up the controllers -->
 <rosparam file="$(find yannic_robot)/config/controllers.yaml" command="load"/>
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="
            /yannic_robot/joints_update
            /yannic_robot/joint1
            /yannic_robot/joint2
            /yannic_robot/joint3
            /yannic_robot/rotate_base
            /yannic_robot/gripper_joint
            
        "/>
    
</launch>


